.RegisterLoginForm {
	width: 1000px;
	margin-left: 100px;
	margin-right: 100px;
}

.RegisterLoginForm > form > h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 40pt;
	font-weight: 900;
	letter-spacing: 1px;
	margin-bottom: 50px;
}

.RegisterLoginForm > form > div > div > input[type=text], input[type=email], input[type=password] {
	background: none;
	font-family: 'Assistant', sans-serif;
	font-size: 30px;
	width: 1000px;
	margin-bottom: 10px;
	border: none;
	border-bottom: 1px solid black;
}

.RegisterLoginForm > form > button {
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	font-weight: 700;
	letter-spacing: .5px;
	text-transform: uppercase;
	border-radius: 50px;
	width: 1000px;
	height: 50px;
	margin-top: 20px;
	margin-bottom: 30px;
	cursor: pointer;
}

.RegisterLoginForm > form > p {
	font-family: 'Assistant', sans-serif;
	font-size: 12pt;
	text-align: center;
}












































