.Cards > .Title {
	font-family: 'Assistant', sans-serif;
	font-size: 12pt;
	font-weight: 700;
	margin-left: 15px;
}

.Cards > .SongInfo {
	font-family: 'Assistant', sans-serif;
	font-size: 12pt;
	margin-left: 15px;
}

.Cards > .Genre {
	background-color: lightgreen;
	font-family: 'Assistant', sans-serif;
	font-size: 9pt;
	letter-spacing: .5px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 50px;
	margin: 10px 0 10px 15px;
	width: 100px;
}