.Home {
	width: 1000px;
	margin-left: 100px;
	margin-right: 100px;
}

.Home > h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 60pt;
	font-weight: 900;
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 30px;
}
.Home > p {
	font-family: 'Assistant', sans-serif;
	font-size: 12pt;
	text-align: center;
}