.App {
	display: flex;
}

.Navigation {
	background-color: red;
	width: 200px;
}

.Link {
	background-color: lightblue;
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	font-weight: 700;
	margin-bottom: 10px;
	padding: 10px 0 10px 30px;
	cursor: pointer;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

*:focus {
    outline: none;
}